@font-face {
    font-family: 'Space';
    src: url(assets/fontes/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fontes/Inter_18pt-SemiBold.ttf);
}
@font-face {
    font-family: 'light-inter';
    src: url(assets/fontes/Inter_18pt-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: solid 1px rgb(145, 140, 140);

}
.logo{
    margin-left: 20px ;
}
.logo h1{
    color: white;
    font-family: 'Space';
    cursor: pointer;
}

.nav_desktop ul, li, a{
    display: flex;
    flex-direction: row ;
    text-decoration: none;
    color: rgb(235, 229, 229);
    gap: 15px;
    padding: 5px;
    font-family: 'Inter';
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
    text-align: center;
}

.nav_desktop li:hover{
    transform: scale(1.1);
}
.actions{
    display: flex;
    gap: 20px;
    margin-right: 20px;
    
}
.navigation button {
    background-color: transparent;
    border: 0;
    border-radius: 100px;
    padding: 8px;  
    margin: 20px 0px;                  /* área clicável maior */
    cursor: pointer;                 /* mãozinha ao passar o mouse */
    transition: all 0.3s ease;      /* transição no elemento certo */
}
.navigation button:hover {
    transform: scale(1.2); 
            /* cresce levemente */
}

.botao-search img,
.botao-carrinho img,
.botao-perfil img
{
    height: 15px;
    display: block;
    filter: invert(1);
    
}
/*Cabeçalho finaliza aqui*/

.main{
    width: 100%;
    background: radial-gradient(circle, #363535, #000000);
    border-bottom: solid 1px white;
    position: relative;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(14, 20, 15, 0.2) 30%, rgba(19, 19, 19, 0.7) 100%);
    z-index: 1;
}
 .hero_section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 30px;
    
}
.hero_section img{
    height: 800px;
    padding-top: 120px;
    opacity: 0.4;
    
}
.hero_section .heading{
    font-family: 'Space';
    font-size: 50px;
    z-index: 3;
    position: absolute; 
    width: 1200px;
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heading p{
    margin: 0 auto;
    margin-top: 35px;
    font-family: 'light-inter';
    font-size: 23px;
    width: 730px;
    color: #c5c5c5;
}
.actions_main{
    position: absolute;
    z-index: 3;
    display: flex;
    gap: 30px;
    margin-top: 665px;
    align-items: center;

}

.actions_main button{
    position: relative;
    z-index: 3;
    font-family: 'Inter';
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    background-color: #C0F500;
    
    
}

.botao_mais{
    background-color: transparent !important;
    
}
.botao_mais p{
    color: rgb(255, 255, 255);
    
}
.actions_main button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color: transparent;
    color: rgb(255, 255, 255);
   
}

